services:
  metrics:
    build:
      context: ..
      dockerfile: deployment/Dockerfile
    container_name: metrics-app
    ports:
      - "8080:8080"
    environment:
      - PROMETHEUS_URL=${PROMETHEUS_URL}
      - PORT=${PORT}
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
      - CADVISOR_PORT=${CADVISOR_PORT}
      - NODE_EXPORTER_PORT=${NODE_EXPORTER_PORT}
    restart: unless-stopped
    networks:
      - metrics-network

networks:
  metrics-network:
    driver: bridge
